<div class="modal fade" id="no-user-modal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header text-black">
        <h5 class="modal-title">User does not exist.</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">Don't have an account?
        <a href="/sign-up" style="color: var(--eerie-black);">Sign up</a>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-danger"
          data-bs-dismiss="modal"
        >Close</button>
      </div>
    </div>
  </div>
</div>