<header>
    {{>private-navbar}}
</header>
<main>
    <h1 class="text-center my-4">My Blogs</h1>
    <div class="d-flex justify-content-center">
          <a href="/create-blog" type="button" class="btn btn-danger mx-5" id="create-blog-btn">Create New Blog</a>
    </div>
 {{!-- {{#if id}} --}}
  {{#each blogs}} 
    <div class="card mx-auto my-4" style="max-width: 50rem">
        <div class="card-body">
          <h5 class="card-title">{{title}}</h5>
          <h6 class="card-subtitle mb-2 mt-2 text-muted">Written {{formatDate createdAt}}</h6>
         <p class="card-text px-3"> {{content}}
          </p>
          <div class="d-flex justify-content-end">
            <button id="edit-btn" class=" btn btn-danger mt-2 mx-1">Edit</button>
          <button id="edit-btn" class="btn btn-danger mt-2 mx-1">Delete</button>
          </div>
        </div>
    </div>
    {{/each}} 
  {{!-- {{/if}}  --}}
</main>