<header>
    {{>private-navbar}}
</header>
<main>
    <h1 class="text-center my-4">Edit Blog Post</h1>
     <form class="mx-5 w-50 mx-auto mb-5 p-3 rounded" id="edit-blog-form" style="background-color: #fafafaa8;">

       {{!-- BLOG TITLE --}}
        <div class="mb-3">
            <label for="edit-blog-title" class="form-label">Title <span class="text-danger">*</span></label>
            <input
            type="input"
            class="form-control"
            id="edit-blog-title"
            aria-describedby="blogTitleHelp"
            value='{{blog.title}}' required
            />
            <div id="title-error" class="form-text text-danger">
            </div>
        </div>

        {{!-- BLOG CONTENT --}}
        <div class="mb-3">
            <label for="edit-blog-content" class="form-label">Content <span class="text-danger">*</span></label>
            <textarea class="form-control" id="edit-blog-content" rows="15" required>{{blog.content}}</textarea>
            <div id="content-error" class="form-text text-danger"> 
            </div>
        </div>
            <div class="d-flex justify-content-start">
                <button type="submit" class="btn btn-danger me-3" name="save-blog-changes-btn" id={{blog.id}}>Save Changes</button>

                <a href="/dashboard" class="btn btn-danger me-3" id={{blog.id}} name="discard-blog-changes-btn" >Discard Changes</a>
            </div>
        </form>

</main>
{{>footer}}

  {{! BOOTSTRAP JS }}
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    
    {{! JQUERY }}
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
      integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="/assets/js/blog.js"></script>