<header>
  {{#if req.session.loggedIn}}
  {{> private-navbar}}
  {{else}}
  {{> public-navbar}}
  {{/if}}
</header>
<main>
    <h1 class="text-center my-4">Tech Talk</h1>
    {{#each blogs as |blog|}}
    <div class="card mx-auto my-4" style="max-width: 50rem">
        <div class="card-body">
          <h5 class="card-title">{{title}}</h5>
          <h6 class="card-subtitle mb-2 mt-2 text-muted">By {{user.username}} | {{formatDate createdAt}}</h6>
          <button id="read-btn" class="btn btn-danger mt-2">Read</button>
        </div>
    </div>
    {{/each}}
</main>