<header>
  {{>public-navbar}}
</header>
<main>
    <h1 class="text-center my-4">Sign Up</h1>
        <form class="mx-5 w-50 mx-auto" id="signup-form">
            {{!-- EMAIL --}}
        <div class="mb-3">
            <label for="email" class="form-label">Email address *</label>
            <input
            type="email"
            class="form-control"
            id="email"
            aria-describedby="emailHelp"
            />
            {{!-- <div id="emailHelp" class="form-text text-danger">
            Please enter a valid email address.
            </div> --}}
        </div>
        {{!-- USERNAME --}}
        <div class="mb-3">
            <label for="username" class="form-label">Username *</label>
            <input
            type="input"
            class="form-control"
            id="username"
            aria-describedby="usernameHelp"
            />
            <div id="usernameRequire" class="form-text">
            Must contain at least 8 characters.
            </div> 
            {{!-- <div id="usernameHelp" class="form-text text-danger">
            Must contain at least 8 characters.
            </div> --}}
        </div>
        {{!-- PASSWORD --}}
        <div class="mb-3">
            <label for="password" class="form-label">Password *</label>
            <input type="password" class="form-control" id="password" />
            <div id="passwordRequire" class="form-text">
            Must contain 8-64 characters and contain letters, numbers, and special
            characters.
            </div> 
            {{!-- <div id="passwordHelp" class="form-text text-danger">
            Password must be 8-64 characters and contain letters, numbers, and special
            characters.
            </div> --}}
        </div>
        {{!-- CONFIRM PASSWORD --}}
        <div class="mb-3">
            <label for="confirmPassword" class="form-label">Confirm password *</label>
            <input type="password" class="form-control" id="confirmPassword" />
            {{!-- <div id="emailHelp" class="form-text text-danger">
            Passwords do not match.
            </div> --}}
        </div>
        <button type="submit" class="btn btn-danger">Create Account</button>
        </form>
</main>
{{>footer}}